.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #96CEB4;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FFEEAD;
}

p {
  font-size: 2rem;
  color: #FFEEAD;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 60%;
   
 
  
  
   

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
a 
{
  text-decoration: none;
  color: #fff;
  
  font-size: 1.3rem;
  
  
  
}
a:hover {
  color: #D9534F;
}
